<% layout("/layouts/boilerplate") %>
<body>
<h3>All Listings</h3>

<!-- <form action="/listing/new" method="GET">
    <button>Create new listing</button>
</form> -->

    <ul>
    <% for(let listing of alllisting) { %>
        <li><a href="/listing/<%= listing._id %>"><%= listing.title %></a></li>
    <% } %>
    </ul>  
    
</body>