<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonderLust</title>
</head> -->

<% layout("/layouts/boilerplate") %>
<body>
    <h3>Create a new Listing Form</h3>
    <form action="/listing" method="post">
        <input name="listing[title]" placeholder="Enter title" type="text"/>
    </br>   </br>
        <textarea name="listing[description]" placeholder="Enter description" ></textarea>
    </br>    </br>
        <input name="listing[image]" placeholder="Enter image url/link" type="text"/>
    </br>    </br>
        <input name="listing[price]" placeholder="Enter price" type="number"/>
    </br>   </br>
        <input name="listing[location]" placeholder="Enter location" type="text"/>
    </br>   </br>
        <input name="listing[country]" placeholder="Enter Country" type="text"/>
    <br>   </br>
        <button>Add</button>
    </form>
</body>
<!-- </html> -->