<% layout("/layouts/boilerplate") %>
<body>

    <br>

    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h3>Create a new Listing Form</h3>

    <br> 
    <form action="/listing" method="post" novalidate class="needs-validation">

        <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter a catchy title" type="text" class="form-control" required 
            />
            <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-2">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control"  required></textarea>
            <div class="invalid-feedback">Please enter a short Description</div>
        </div>
       
        <div class="mb-2">
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]" placeholder="Enter image url/link" type="text" class="form-control"/>
        </div>

        <div class="row">
            <div class="mb-2 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="12000" class="form-control" required/>
                <div class="invalid-feedback">Price should be valid</div>
            </div>
            
            <div class="mb-2 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="INDIA" type="text" class="form-control" required/>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
    
         <div class="mb-2">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Rajgangpur" type="text" class="form-control" required/>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        
        <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
    </div>
</div>
</body>
